{% if(cart) %}
    <div class="cart__container">
        {% for product in cart.products %}
            <div class="cart__item">
                <div class="cart__image">
                    <img src="/uploads/images/products/{{ product.image }}" alt="produkt">
                </div>
                <div class="cart__body">
                    <div class="cart__subtitle">{{ product.name }}</div>
                    <div class="cart__description">{{ product.description }}</div>
                    <div class="cart__quantity">
                        <div class="cart__dimension">
                            {{ product.dimension.name }}
                            <br>
                            {{ 'cart.quantity'|trans }}: {{ product.quantity }}
                        </div>
                    </div>
                </div>
                <div class="cart__price">
                    <a href="{{ path('cart_delete_product', {productId: product.id, dimensionId: product.dimension.id} ) }}" class="cart__delete">{{ 'cart.delete'|trans }}</a>
                    <div class="item__price">{{ product.price }} zł</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="cart__hr"></div>
    <div class="cart__total">
        <div class="cart__text">
            {{ 'cart.total'|trans }}:
        </div>
        <div class="cart__price">
            {{ cart.totalPrice }} zł
        </div>
    </div>
    <a href="{{ path('order__page') }}" class="button button-cart">{{ 'cart.goToPay'|trans }}</a>
{% else %}
    <div class="empty__cart">
        {{ 'cart.empty'|trans }}
    </div>
{% endif %}