{% extends 'base_reset.html.twig' %}

{% block title %}{{ 'reset.title'|trans }}{% endblock %}

{% block content %}
    <div class="popup__reset popup__reset-active">
        <div class="popup__container">
            <div class="popup__header">
                <div class="popup__title popup-title">{{ 'reset.title'|trans }}</div>
            </div>
            <div class="popup__body">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="login_error-active">{{ flashError }}</div>
                {% endfor %}
                {{ form_start(resetForm) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset') }}">
                <div class="popup__email">
                    {{ form_label(resetForm.plainPassword.first) }}
                    {{ form_widget(resetForm.plainPassword.first) }}
                    {{ form_errors(resetForm.plainPassword.first) }}
                </div>
                <div class="popup__email">
                    {{ form_label(resetForm.plainPassword.second) }}
                    {{ form_widget(resetForm.plainPassword.second) }}
                    {{ form_errors(resetForm.plainPassword.second) }}
                </div>
                <button type="submit" class="button button-login">{{ 'reset.buttonReset'|trans }}</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}


