<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('admin_category_index') }}" class="nav-link menu__categories">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            {{ 'category.catogories'|trans }}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_dimension_index') }}" class="nav-link menu__dimensions">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            {{ 'dimension.dimensions'|trans }}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_product_index') }}" class="nav-link menu__products">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            {{ 'product.products'|trans }}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_order_index') }}" class="nav-link menu__orders">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            {{ 'adminOrder.orders'|trans }}
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>