{% extends 'admin/category/category_base.html.twig' %}

{% block title %}{{ 'category.add'|trans }}{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>{{ 'category.add'|trans }}</h1>
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <a href="{{ path('admin_category_index') }}" class="btn btn-warning">{{ 'global.returnToList'|trans }}</a>
                <button class="btn btn-success">{{ 'global.save'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
