{% extends 'admin/category/category_base.html.twig' %}

{% block title %}{{ 'category.category'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'category.category'|trans }}</h1>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="w-25">{{ 'global.id'|trans }}</th>
                            <td>{{ category.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'category.name'|trans }}</th>
                            <td>{{ renderTranslationField(category, 'name')|raw }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <a href="{{ path('admin_category_index') }}" class="btn btn-warning">{{ 'global.returnToList'|trans }}</a>
                <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-primary">{{ 'global.edit'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
