<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Multilingual Menu in Navbar Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('custom/css/main.css') }}">
    <style>
        .active{
            color:red;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="#">{{ 'landing.navbar'|trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">{{ 'landing.home'|trans }} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ 'landing.link'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">{{ 'landing.disabled'|trans }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="flag-icon flag-icon-pl"> </span> Polish
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="{{ path('change_locale', {'locale': 'pl'}) }}"><span class="flag-icon flag-icon-pl"> </span>  Polish</a>
                        <a class="dropdown-item" href="{{ path('change_locale', {'locale': 'ua'}) }}"><span class="flag-icon flag-icon-ua"> </span>  Украинский</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-4">
                        <div class="card-item">
                            <img src="{{ vich_uploader_asset(product) }}" class=" card-img" alt="">
                            <div class="title">{{ product.name }}</div>
                            <div class="description">{{ product.description }}</div>
                            <div class="dimensions">
                                {% for productsDimension in product.productsDimensions %}
                                    <div class="dimension-item {% if loop.first %}active{% endif %}" data-dimensionId="{{ productsDimension.dimension.id }}" data-price="{{ productsDimension.price }}">
                                        {{ productsDimension.dimension.name }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="price-content">
                                <input type="number" class="quantity" name="quantity" value="1">
                                <div class="price d-flex">
                                    <div class="number">
                                        {% for productsDimension in product.productsDimensions %}
                                            {% if loop.first %}{{ productsDimension.price }}{% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="currency">{{ 'cart.currency'|trans }}</div>
                                </div>
                            </div>
                            <button data-id="{{ product.id }}" class="btn btn-success add-to-cart">Add to cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('custom/js/cart.js') }}"></script>
<script>
    $(function () {
        $(document).on('click', '.dimension-item', function () {
            let price = $(this).data('price');
            let $cardItem = $(this).closest('.card-item');
            $(this).addClass('active').siblings().removeClass('active');
            $cardItem.find('.price > .number').text(price);
        })
    });
</script>
</body>
</html>