{% extends 'admin/product/product_base.html.twig' %}

{% form_theme form.categories 'admin/product/_categories_collection.html.twig' %}
{% form_theme form.dimensions 'admin/product/_dimensions_collection.html.twig' %}

{% block title %}{{ 'product.edit'|trans }}{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>{{ 'product.edit'|trans }}</h1>
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}

                {{ form_row(form.translations) }}
                <hr>
                {{ form_row(form.imageFile) }}
                {{ form_row(form.categories) }}
                {{ form_row(form.dimensions) }}

                <div class="d-flex">
                    <a href="{{ path('admin_product_index') }}" class="btn btn-warning">{{ 'global.returnToList'|trans }}</a>
                    <button class="btn btn-success ml-2">{{ 'global.save'|trans }}</button>
                    {{ form_end(form) }}
                    <div class="ml-auto">
                        {{ include('admin/product/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('custom/js/add-collection-widget.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            initializeCollection('categories', 'category__item');
            initializeCollection('dimensions', 'dimension__item');
        });
    </script>
{% endblock %}