{% extends 'admin/product/product_base.html.twig' %}

{% block title %}{{ 'product.product'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'product.product'|trans }}</h1>
    <div class="col-12 product__show">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th class="w-25">{{ 'global.id'|trans }}</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'product.name'|trans }}</th>
                        <td>
                            {{ renderTranslationField(product, 'name')|raw }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'product.description'|trans }}</th>
                        <td>
                            {{ renderTranslationField(product, 'description')|raw }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'product.mainImage'|trans }}</th>
                        <td><img src="{{ vich_uploader_asset(product) }}" class="product__image" alt="{{ product.name }}" /></td>
                    </tr>
                    <tr>
                        <th>{{ 'product.categories'|trans }}</th>
                        <td>
                            {% for productsCategorie in product.productsCategories %}
                                {{ productsCategorie.category.name }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'product.dimensions'|trans }}</th>
                        <td>
                            {% for productDimension in product.productsDimensions %}
                                <div class="row">
                                    <div class="col-2">{{ productDimension.dimension.name }}</div>
                                    <div class="col-10">{{ renderTranslationField(productDimension, 'price')|raw }}</div>
                                </div>
                                {% if not loop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <a href="{{ path('admin_product_index') }}" class="btn btn-warning">{{ 'global.returnToList'|trans }}</a>
                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-primary">{{ 'global.edit'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
